boto3==1.21.34
botocore==1.24.34
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
idna==3.3
jmespath==1.0.0
lxml==4.8.0
ntlm-auth==1.5.0
pycparser==2.21
python-dateutil==2.8.2
requests==2.27.1
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
s3transfer==0.5.2
SharePlum==0.5.1
six==1.16.0
urllib3==1.26.9
